@charset "utf-8";
/*!
 * @author liyuelong1020@gmail.com
 * @date 15-5-21 下午4:04
 * @version 1.0.0
 * @description 样式表
 */

html {
    font: 400 14px/1.5em 'RobotoRegular', 'Helvetica Neue' , 'sans-serif';
}
body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    color: #666;
    background-color: #fff;
}
